//variables
$footer-background: #ddd;


//doing math
.navbar .nav>li>a.brand {
    padding-left:10px * 2;
    margin-left:0
}

//import
@import 'content';

//nesting
footer {    
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:$footer-background;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer {

    p {
        padding:5px 0 12px 10px
    }
}

//extend
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}

//mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }